.records-table-container {
  max-width: 80vw;
  margin: auto;
  padding: 12px;
}

@media screen and (max-width: 1000px) {
  .records-table-container {
    max-width: 800px;
    margin: auto;
    padding: 12px;
  }
}

.records-table {
  width: 100%;
  border-radius: 12px;
  /* filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06)); */
  background-color: #F4F4F5;
}

.records-thead .records-tr {
  background-color: #E4E4E7;
  border: 1px solid #D4D4D8;
  border-bottom: none;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.records-tbody .records-tr {
  border-width: 1px;
  border-color: #D4D4D8;
  border-style: none solid none solid;
}

.records-tbody .records-tr:last-child {
  border-style: none solid solid solid;
  border-radius: 0 0 12px 12px;
}

.records-th,
.records-td {
  padding: 1em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.records-tr {
  display: flex;
}

.records-tbody .records-tr:nth-child(odd) {
  background-color: #F4F4F5;
}

.records-col-type {
  padding-left: 1.5rem;
  width: 10%;
}

.records-col-name {
  width: 40%;
}

.records-col-value {
  width: 30%;
}

.records-col-ttl {
  width: 7%;
}

.records-col-actions {
  width: 13%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
  padding-right: 1em;
  min-width: calc(48px + 1em);
}

.records-col-actions button {
  background-color: initial;
  border: none;
  padding-top: 3px;
}